.footer {
  margin: 0 auto 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
    .footer {
      max-width: 581px;
    }
}

@media screen and (max-width: 619px) {
    .footer {
      margin-left: 19px;
    }
}


